<div class="mt-4 p-5 bg-light text-white rounded jumbotron">
  <div style="display: flex; flex-direction: column; gap: 1rem">
    <h4 class="text-dark">{{app}}</h4>

    <input type="text" class="form-control mg-1" ng-model="criterioDeBusca" placeholder="O que você esta buscando?">
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Serial</th>
        <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
        <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
        <th>Operadora</th>
        <th>Data</th>
        <th></th>
      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy: criterioDeOrdenacao: direcaoDaOrdenacao">
        <td><input type="checkbox" ng-model="contato.selecionado" /></td>
        <td>{{contato.serial}}</td>
        <td><a href="#!/detalhesContato/{{contato.id}}">{{contato.nome | name }}</a></td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome | lowercase}}</td>
        <td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}">

          </div>
        </td>
      </tr>
    </table>
    <hr />
    <a class="btn btn-primary bnt-block" href="#!/novoContato">Novo Contato</a>
    <button type="button" ng-click='apagarContatos(contatos)' ng-disabled='!isContatoSelecionado(contatos)' class="btn btn-danger btn-block">Apagar contatos</button>
  </div>
</div>